@import "../../sass/main.scss";

input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-right: 5px;
}

.send {
  padding: 10px 20px;
  color: $text;
  background-color: $btn_secondary;
  border: none;
  outline: none;
  border-radius: 5px;
}

.send:disabled {
  background-color: $btn_primary;
}
