@import "../../sass/main.scss";

input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-right: 5px;
}

button {
  padding: 10px 20px;
  color: $text;
  background-color: $btn_primary;
  border: none;
  outline: none;
  border-radius: 5px;
}

button:disabled {
  background-color: rgb(105, 151, 155);
}
