//colors

$text: white;
$error-text: red;
$btn_bg: #168291;
$btn_bg_hover: #66beca;
$container_bg: #0d3c4e7a;
$input_bg: white;
$input_text: #6c6d6d;
$list-items: #1fbbd7;
$list-type: #ff9a17;
$chat-bg: #16839134;

//$h1_color: #168291;

//font style
$ff-heading: "Butler";
$ff-other: "Roboto";
