//text
$text: white;
$error-text: red;
$time: #888;
$input_text: #6c6d6d;
$list-items: #1fbbd7;
$list-type: #ff9a17;

//btns
$btn_primary: #168291;
$btn_primary_hover: #66beca;
$btn_secondary: #ff9a17;
$btn_secondary_hover: #f0c183;

//bg
$container_bg: #0d3c4e7a;
$input_bg: white;
$chat-bg: #16839134;
