@import "../../sass/main.scss";

.image-container {
  text-align: center;
  width: 100%;
  height: 70%;
}

.image-container img {
  width: auto;
  height: auto;
  max-width: 800px;
  max-height: 500px;
  object-fit: contain;
}

.btn {
  text-decoration: none;
}
