@import "../../sass/main.scss";

.notFound-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.image-container {
  text-align: center;
  width: 100%;
  height: 70%;
}
.image-container img {
  width: auto;
  height: auto;
  max-width: 800px;
  max-height: 500px;
  object-fit: contain;
}
.link_notFound {
  color: $btn_primary_hover;
  text-decoration: none;
  font-weight: bold;
}

.link_notFound:hover {
  color: $btn_secondary;
}
