@import "../../sass/main.scss";

.home-container {
  display: flex;
  flex-direction: row;
}

.description {
  font-size: 20px;
  width: 70%;
  line-height: 1.5;
}

.description p {
  margin-top: 0;
}

.room-list ul {
  list-style: none;
  padding: 0;
  margin-left: 20px;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}

.room {
  font-size: 18px;
  color: $list-items;
  position: relative;
}

.room::before {
  content: "~";
  position: absolute;
  left: -20px;
  color: $list-type;
}

.room-heading {
  margin-top: 60px;
  display: flex;
}
