@import "../../sass/main.scss";

.chat {
  display: flex;
  flex-direction: column;
  height: 50vh;
  background-color: $chat-bg;
  border: 1px solid white;
}

.messages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.message-row {
  display: flex;
  align-items: center;
}

.username {
  margin-right: 10px;
  font-weight: bold;
}

.message-text {
  flex: 1;
}

.input form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
