@import "../../sass/main.scss";

.chat,
.members {
  display: flex;
  flex-direction: column;
  height: 50vh;
  background-color: $chat-bg;
  border: 1px solid white;
  border-radius: 5px;
  width: 80%;
}

.box1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.members {
  width: 19%;
  justify-content: space-between;
}

.chat-heading h1 {
  margin-top: 0;
}

.members-list {
  padding: 10px;
}
.members-list h3 {
  margin: 0;
  padding: 0;
}
.members a {
  padding: 10px !important;
}

.members button {
  margin-bottom: 0 !important;
  background-color: $list-type;
}

.messages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.message-me {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.message-other {
  display: flex;
  flex-direction: row-reverse;
  text-align: right;
  margin-bottom: 5px;
}

.message-me .message-username {
  margin-right: 10px;
}

.message-other .message-username {
  margin-left: 10px;
}

.message-username {
  font-weight: bold;
  padding: 5px;
  color: white;
  border-radius: 5px;
  border: 2px solid;
}

.time {
  font-size: 12px;
  color: #888;
}

.input form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
